.header_nav {
  background-color: #fff;
  /* color: #3c463d;
  background-color: #94cfc4; */
  box-shadow: #3c463d 0px 0px 14px 5px;
}

.nav-link {
  color: #3c463d;
}

.nav-link:hover {
  color: #000;
  font-weight: 600;
}

.btn-custom {
  color: #3c463d;
  background-color: #94cfc4;
}

.btn-custom:hover {
  color: #94cfc4;
  background-color: #3c463d;
}

.text-custom {
  color: #94cfc4;
}
